<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.jieming.Controller"/>
    <!--启动驱动，表示注入实现HandlerMapping的实现类和HandlerAdapter的实现类
        1：RequestMappingHandlerMapping,表示处理@RequestMapping注解，注册到请求映射表中。
            也就是根据路径找到是哪个Controller
        2：RequestMappingHandlerAdapter,根据HandlerMapping得到的Controller找到相对应的适配器
            ，然后适配器再根据 具体的路径 找到是执行Controller的哪个方法
    -->
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>